In [4]:
import pandas as pd
#Try merge clean and Tacha's data

In [7]:
#Read in .csv file and formatted into data frame
df = pd.read_csv("/Users/Berli/Documents/SMU Data Bootcamp/SMU/Homework/SMU-Project-1-MaryJane/KimChi Work/MaryJane_clean_data.csv")
df.head()

,Strain,Type,Rating,Effects,Flavor,Description,effect 1,effect 2,effect 3,effect 4,effect 5,flavor 1,flavor 2,flavor 3,num_effects,num_flavors
0,100-Og,hybrid,4.0,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus",$100 OG is a 50/50 hybrid strain that packs a ...,Creative,Energetic,Tingly,Euphoric,Relaxed,Earthy,Sweet,Citrus,5,3
1,98-White-Widow,hybrid,4.7,"Relaxed,Aroused,Creative,Happy,Energetic","Flowery,Violet,Diesel",The ‘98 Aloha White Widow is an especially pot...,Relaxed,Aroused,Creative,Happy,Energetic,Flowery,Violet,Diesel,5,3
2,1024,sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody",1024 is a sativa-dominant hybrid bred in Spain...,Uplifted,Happy,Relaxed,Energetic,Creative,Spicy/Herbal,Sage,Woody,5,3
3,13-Dawgs,hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit",13 Dawgs is a hybrid of G13 and Chemdawg genet...,Tingly,Creative,Hungry,Relaxed,Uplifted,Apricot,Citrus,Grapefruit,5,3
4,24K-Gold,hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange","Also known as Kosher Tangie, 24k Gold is a 60%...",Happy,Relaxed,Euphoric,Uplifted,Talkative,Citrus,Earthy,Orange,5,3

In [8]:
#Split out each effect so they can be called/referenced separately for data analysis of effects
df.Effects.str.split(",",expand=True)

             0          1          2          3          4
0     Creative  Energetic     Tingly   Euphoric    Relaxed
1      Relaxed    Aroused   Creative      Happy  Energetic
2     Uplifted      Happy    Relaxed  Energetic   Creative
3       Tingly   Creative     Hungry    Relaxed   Uplifted
4        Happy    Relaxed   Euphoric   Uplifted  Talkative
...        ...        ...        ...        ...        ...
2048     Happy   Uplifted    Relaxed   Euphoric  Energetic
2049   Relaxed      Happy   Euphoric   Uplifted     Sleepy
2050   Relaxed     Sleepy  Talkative   Euphoric      Happy
2051   Relaxed     Sleepy   Euphoric      Happy     Hungry
2052    Hungry    Relaxed   Uplifted      Happy     Sleepy

[2053 rows x 5 columns]

In [66]:
#Provided title for column head of each effect 1-4
effects = df.Effects.str.split(",",expand=True)
effects.columns=["Effect_1", "Effect_2", "Effect_3", "Effect_4", "Effect_5"]
effects.head()

   Effect_1   Effect_2  Effect_3   Effect_4   Effect_5
0  Creative  Energetic    Tingly   Euphoric    Relaxed
1   Relaxed    Aroused  Creative      Happy  Energetic
2  Uplifted      Happy   Relaxed  Energetic   Creative
3    Tingly   Creative    Hungry    Relaxed   Uplifted
4     Happy    Relaxed  Euphoric   Uplifted  Talkative

In [67]:
#Split out each flavor so they can be called/referenced separately for data analysis of effects
flavors = df.Flavor.str.split(",",expand=True)
flavors.columns=["Flavor_1", "Flavor_2", "Flavor_3", "Flavor_4"]
flavors.head()

       Flavor_1 Flavor_2    Flavor_3 Flavor_4
0        Earthy    Sweet      Citrus     None
1       Flowery   Violet      Diesel     None
2  Spicy/Herbal     Sage       Woody     None
3       Apricot   Citrus  Grapefruit     None
4        Citrus   Earthy      Orange     None

In [68]:
#Display flavors metadata
flavors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053 entries, 0 to 2052
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Flavor_1  2053 non-null   object
 1   Flavor_2  2053 non-null   object
 2   Flavor_3  2053 non-null   object
 3   Flavor_4  39 non-null     object
dtypes: object(4)
memory usage: 64.3+ KB

In [69]:
#Merge flavors and effects dataframe with original dataframe horizontally along the x-axis
pd.concat([df, effects, flavors], axis=1)

,Strain,Type,Rating,Effects,Flavor,Description,effect 1,effect 2,effect 3,effect 4,...,num_flavors,Effect_1,Effect_2,Effect_3,Effect_4,Effect_5,Flavor_1,Flavor_2,Flavor_3,Flavor_4
0,100-Og,hybrid,4.0,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus",$100 OG is a 50/50 hybrid strain that packs a ...,Creative,Energetic,Tingly,Euphoric,...,3,Creative,Energetic,Tingly,Euphoric,Relaxed,Earthy,Sweet,Citrus,None
1,98-White-Widow,hybrid,4.7,"Relaxed,Aroused,Creative,Happy,Energetic","Flowery,Violet,Diesel",The ‘98 Aloha White Widow is an especially pot...,Relaxed,Aroused,Creative,Happy,...,3,Relaxed,Aroused,Creative,Happy,Energetic,Flowery,Violet,Diesel,None
2,1024,sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody",1024 is a sativa-dominant hybrid bred in Spain...,Uplifted,Happy,Relaxed,Energetic,...,3,Uplifted,Happy,Relaxed,Energetic,Creative,Spicy/Herbal,Sage,Woody,None
3,13-Dawgs,hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit",13 Dawgs is a hybrid of G13 and Chemdawg genet...,Tingly,Creative,Hungry,Relaxed,...,3,Tingly,Creative,Hungry,Relaxed,Uplifted,Apricot,Citrus,Grapefruit,None
4,24K-Gold,hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange","Also known as Kosher Tangie, 24k Gold is a 60%...",Happy,Relaxed,Euphoric,Uplifted,...,3,Happy,Relaxed,Euphoric,Uplifted,Talkative,Citrus,Earthy,Orange,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2048,Zeus-Og,hybrid,4.7,"Happy,Uplifted,Relaxed,Euphoric,Energetic","Earthy,Woody,Pine",Zeus OG is a hybrid cross between Pineapple OG...,Happy,Uplifted,Relaxed,Euphoric,...,3,Happy,Uplifted,Relaxed,Euphoric,Energetic,Earthy,Woody,Pine,None
2049,Zkittlez,indica,4.6,"Relaxed,Happy,Euphoric,Uplifted,Sleepy","Sweet,Berry,Grape",Zkittlez is an indica-dominant mix of Grape Ap...,Relaxed,Happy,Euphoric,Uplifted,...,3,Relaxed,Happy,Euphoric,Uplifted,Sleepy,Sweet,Berry,Grape,None
2050,Zombie-Kush,indica,5.0,"Relaxed,Sleepy,Talkative,Euphoric,Happy","Earthy,Sweet,Spicy/Herbal",Zombie Kush by Ripper Seeds comes from two dif...,Relaxed,Sleepy,Talkative,Euphoric,...,3,Relaxed,Sleepy,Talkative,Euphoric,Happy,Earthy,Sweet,Spicy/Herbal,None
2051,Zombie-Og,indica,4.4,"Relaxed,Sleepy,Euphoric,Happy,Hungry","Sweet,Earthy,Pungent",If you’re looking to transform into a flesh-ea...,Relaxed,Sleepy,Euphoric,Happy,...,3,Relaxed,Sleepy,Euphoric,Happy,Hungry,Sweet,Earthy,Pungent,None
2052,Zoom-Pie,indica,4.6,"Hungry,Relaxed,Uplifted,Happy,Sleepy","Berry,Earthy,Pungent",Zoom Pie (also known as Zombie Pie) is a heavy...,Hungry,Relaxed,Uplifted,Happy,...,3,Hungry,Relaxed,Uplifted,Happy,Sleepy,Berry,Earthy,Pungent,None

In [70]:
#Make one new dataframe with original data, effects, and flavors then display
df2=pd.concat([df, effects, flavors], axis=1)
df2.head()

,Strain,Type,Rating,Effects,Flavor,Description,effect 1,effect 2,effect 3,effect 4,...,num_flavors,Effect_1,Effect_2,Effect_3,Effect_4,Effect_5,Flavor_1,Flavor_2,Flavor_3,Flavor_4
0,100-Og,hybrid,4.0,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus",$100 OG is a 50/50 hybrid strain that packs a ...,Creative,Energetic,Tingly,Euphoric,...,3,Creative,Energetic,Tingly,Euphoric,Relaxed,Earthy,Sweet,Citrus,None
1,98-White-Widow,hybrid,4.7,"Relaxed,Aroused,Creative,Happy,Energetic","Flowery,Violet,Diesel",The ‘98 Aloha White Widow is an especially pot...,Relaxed,Aroused,Creative,Happy,...,3,Relaxed,Aroused,Creative,Happy,Energetic,Flowery,Violet,Diesel,None
2,1024,sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody",1024 is a sativa-dominant hybrid bred in Spain...,Uplifted,Happy,Relaxed,Energetic,...,3,Uplifted,Happy,Relaxed,Energetic,Creative,Spicy/Herbal,Sage,Woody,None
3,13-Dawgs,hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit",13 Dawgs is a hybrid of G13 and Chemdawg genet...,Tingly,Creative,Hungry,Relaxed,...,3,Tingly,Creative,Hungry,Relaxed,Uplifted,Apricot,Citrus,Grapefruit,None
4,24K-Gold,hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange","Also known as Kosher Tangie, 24k Gold is a 60%...",Happy,Relaxed,Euphoric,Uplifted,...,3,Happy,Relaxed,Euphoric,Uplifted,Talkative,Citrus,Earthy,Orange,None

In [71]:
#Display metadata in the new dataframe
df2["num_effects"]=df2.Effects.str.count(",")+1
df2["num_flavors"]=df2.Flavor.str.count(",")+1
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053 entries, 0 to 2052
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Strain       2053 non-null   object
 1   Type         2053 non-null   object
 2   Rating       2053 non-null   float64
 3   Effects      2053 non-null   object
 4   Flavor       2053 non-null   object
 5   Description  2053 non-null   object
 6   effect 1     2053 non-null   object
 7   effect 2     2053 non-null   object
 8   effect 3     2053 non-null   object
 9   effect 4     2053 non-null   object
 10  effect 5     2053 non-null   object
 11  flavor 1     2053 non-null   object
 12  flavor 2     2053 non-null   object
 13  flavor 3     2053 non-null   object
 14  num_effects  2053 non-null   int64
 15  num_flavors  2053 non-null   int64
 16  Effect_1     2053 non-null   object
 17  Effect_2     2053 non-null   object
 18  Effect_3     2053 non-null   object
 19  Effect_4     2053 non-null   object
 20  Effect_5     2053 non-null   object
 21  Flavor_1     2053 non-null   object
 22  Flavor_2     2053 non-null   object
 23  Flavor_3     2053 non-null   object
 24  Flavor_4     39 non-null     object
dtypes: float64(1), int64(2), object(22)
memory usage: 401.1+ KB

In [72]:
#Count up effects for Effect_2
df2["Effect_2"].value_counts()

Effect_2
Happy        546
Relaxed      320
Euphoric     313
Uplifted     287
Sleepy       185
Creative     100
Energetic     87
Focused       65
Tingly        39
Hungry        35
Talkative     30
Giggly        24
Aroused       22
Name: count, dtype: int64

In [73]:
#Metadata on Flavor_4 shows a lot of missing values (only 39 out of 2053) 
#Dropping Flavor_4 from dataframe due to too much missing data
#Put new dataset with omitted Flavor_4 and put into new dataframe
#Show metadata to confirm Flavor_4 was dropped
df2=df2.drop(columns=["Flavor_4"])
df3=df2.dropna(how="any")
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053 entries, 0 to 2052
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Strain       2053 non-null   object
 1   Type         2053 non-null   object
 2   Rating       2053 non-null   float64
 3   Effects      2053 non-null   object
 4   Flavor       2053 non-null   object
 5   Description  2053 non-null   object
 6   effect 1     2053 non-null   object
 7   effect 2     2053 non-null   object
 8   effect 3     2053 non-null   object
 9   effect 4     2053 non-null   object
 10  effect 5     2053 non-null   object
 11  flavor 1     2053 non-null   object
 12  flavor 2     2053 non-null   object
 13  flavor 3     2053 non-null   object
 14  num_effects  2053 non-null   int64
 15  num_flavors  2053 non-null   int64
 16  Effect_1     2053 non-null   object
 17  Effect_2     2053 non-null   object
 18  Effect_3     2053 non-null   object
 19  Effect_4     2053 non-null   object
 20  Effect_5     2053 non-null   object
 21  Flavor_1     2053 non-null   object
 22  Flavor_2     2053 non-null   object
 23  Flavor_3     2053 non-null   object
dtypes: float64(1), int64(2), object(21)
memory usage: 385.1+ KB

In [75]:
#Count up the number of hybrid, indica, and sativa
df3.Type.value_counts()

Type
hybrid    1045
indica     621
sativa     387
Name: count, dtype: int64

In [33]:
#Find the mean of the rating per Type
df3.groupby("Type").Rating.mean()

Type
hybrid    4.440096
indica    4.447987
sativa    4.433333
Name: Rating, dtype: float64

In [48]:
#Count the number of Effect_1 per Type
df3.groupby(["Type", "Effect_1"]).size()

Type    Effect_1
hybrid  Aroused       13
        Creative      36
        Energetic     25
        Euphoric     125
        Focused       26
        Giggly         3
        Happy        286
        Hungry        15
        Relaxed      346
        Sleepy        22
        Talkative     29
        Tingly        12
        Uplifted     107
indica  Aroused       11
        Creative       7
        Energetic      2
        Euphoric      53
        Focused        4
        Giggly         3
        Happy         51
        Hungry        10
        Relaxed      420
        Sleepy        36
        Talkative      2
        Tingly         6
        Uplifted      16
sativa  Aroused        5
        Creative      22
        Energetic     37
        Euphoric      49
        Focused       14
        Giggly         1
        Happy        112
        Hungry         3
        Relaxed       34
        Sleepy         4
        Talkative     10
        Tingly         4
        Uplifted      92
dtype: int64

In [49]:
#Count the number of Effect_2 per Type
df3.groupby(["Type", "Effect_2"]).size()

Type    Effect_2
hybrid  Aroused        7
        Creative      58
        Energetic     43
        Euphoric     163
        Focused       33
        Giggly        15
        Happy        274
        Hungry        18
        Relaxed      200
        Sleepy        37
        Talkative     17
        Tingly        16
        Uplifted     164
indica  Aroused        9
        Creative      11
        Energetic      3
        Euphoric     100
        Focused       12
        Giggly         6
        Happy        179
        Hungry        13
        Relaxed       81
        Sleepy       144
        Talkative      4
        Tingly        18
        Uplifted      41
sativa  Aroused        6
        Creative      31
        Energetic     41
        Euphoric      50
        Focused       20
        Giggly         3
        Happy         93
        Hungry         4
        Relaxed       39
        Sleepy         4
        Talkative      9
        Tingly         5
        Uplifted      82
dtype: int64

In [50]:
#Count the number of Effect_3 per Type
df3.groupby(["Type", "Effect_3"]).size()

Type    Effect_3
hybrid  Aroused       11
        Creative      61
        Energetic     61
        Euphoric     208
        Focused       55
        Giggly        32
        Happy        152
        Hungry        44
        Relaxed      127
        Sleepy        38
        Talkative     35
        Tingly        26
        Uplifted     195
indica  Aroused       10
        Creative      19
        Energetic      4
        Euphoric     128
        Focused       17
        Giggly        13
        Happy        152
        Hungry        33
        Relaxed       44
        Sleepy       106
        Talkative      9
        Tingly        22
        Uplifted      64
sativa  Aroused       10
        Creative      23
        Energetic     64
        Euphoric      55
        Focused       36
        Giggly         5
        Happy         59
        Hungry         9
        Relaxed       39
        Sleepy         4
        Talkative     13
        Tingly         9
        Uplifted      61
dtype: int64

In [52]:
#Count the number of Effect_4 per Type
df3.groupby(["Type", "Effect_4"]).size()

Type    Effect_4
hybrid  Aroused       21
        Creative      90
        Energetic     62
        Euphoric     184
        Focused       76
        Giggly        46
        Happy        116
        Hungry        45
        Relaxed       91
        Sleepy        48
        Talkative     37
        Tingly        41
        Uplifted     188
indica  Aroused       12
        Creative      34
        Energetic     11
        Euphoric     117
        Focused       27
        Giggly        24
        Happy         94
        Hungry        53
        Relaxed       26
        Sleepy        88
        Talkative     18
        Tingly        33
        Uplifted      84
sativa  Aroused        3
        Creative      43
        Energetic     47
        Euphoric      64
        Focused       52
        Giggly         9
        Happy         34
        Hungry        10
        Relaxed       39
        Sleepy         7
        Talkative     34
        Tingly         4
        Uplifted      41
dtype: int64

In [62]:
#Count the number of Flavor_1 per Rating
df3.groupby(["Rating", "Flavor_1"]).size()

Rating  Flavor_1
0.0     Diesel           2
        Pungent          1
        Strawberry       1
        Sweet            1
3.0     Earthy           1
                        ..
5.0     Spicy/Herbal     6
        Strawberry       1
        Sweet           32
        Tree             1
        Tropical         2
Length: 357, dtype: int64

In [39]:
#Count the number of Flavor_2 per Rating
df3.groupby(["Rating", "Flavor_2"]).size()

Rating  Flavor_2
0.0     Earthy           3
        Spicy/Herbal     1
        Woody            1
3.0     Citrus           1
        Flowery          1
                        ..
5.0     Sweet           24
        Tree             2
        Tropical         6
        Vanilla          1
        Woody            2
Length: 382, dtype: int64

In [58]:
#Count the number of Flavor_3 per Rating
df3.groupby(["Rating", "Flavor_3"]).size()

Rating  Flavor_3
0.0     Pine        1
        Pungent     2
        Sweet       1
        Vanilla     1
3.0     Citrus      1
                   ..
5.0     Tar         1
        Tree        3
        Tropical    5
        Vanilla     1
        Woody       1
Length: 415, dtype: int64

In [61]:
df4 = df3.groupby(["Rating", "Flavor_3"]).size()

In [41]:
#What Flavor has max rating?
#df.groupby('A').agg('min')
df5 = pd.DataFrame(df4)
df5.reset_index(level=1, inplace=True)
df5.reset_index(level=0, inplace=True)
df6 = df5.rename(columns={0: "Qty"})
df6

     Rating  Flavor_3  Qty
0       0.0      Pine    1
1       0.0   Pungent    2
2       0.0     Sweet    1
3       0.0   Vanilla    1
4       3.0    Citrus    1
..      ...       ...  ...
410     5.0       Tar    1
411     5.0      Tree    3
412     5.0  Tropical    5
413     5.0   Vanilla    1
414     5.0     Woody    1

[415 rows x 3 columns]

In [42]:
df6_min = df6.groupby("Rating")['Qty'].max()

df_merge = df6.merge(df6_min, how="left", on=['Rating'])

In [43]:
df_merge

     Rating  Flavor_3  Qty_x  Qty_y
0       0.0      Pine      1      2
1       0.0   Pungent      2      2
2       0.0     Sweet      1      2
3       0.0   Vanilla      1      2
4       3.0    Citrus      1      2
..      ...       ...    ...    ...
410     5.0       Tar      1     13
411     5.0      Tree      3     13
412     5.0  Tropical      5     13
413     5.0   Vanilla      1     13
414     5.0     Woody      1     13

[415 rows x 4 columns]

In [44]:
df_merge2 = df_merge['Qty_x'].equals(df_merge['Qty_y'])
df_merge2

False

In [117]:
df6_max = df6.groupby("Rating").agg({"Flavor_3": 'max', "Qty": 'max'})
df6_max

            Flavor_3  Qty
Rating
0.0          Vanilla    2
3.0          Pungent    2
3.1           Citrus    1
3.2            Lemon    1
3.3              Tea    1
3.4            Sweet    1
3.5            Sweet    2
3.6     Spicy/Herbal    3
3.7            Woody    2
3.8            Sweet    3
3.9            Woody    6
4.0            Woody    9
4.1            Woody   20
4.2            Woody   31
4.3            Woody   45
4.4            Woody   45
4.5            Woody   45
4.6            Woody   30
4.7            Woody   18
4.8            Woody   22
4.9            Woody    7
5.0            Woody   13

In [ ]:
#What Flavor has min rating

In [ ]:
#What Flavor has the median rating?

In [ ]:
#Export to csv file
df3.to_csv("MaryJane_clean_data.csv", index=False)